.createTask button {
    background-color: rgb(82, 71, 71); 
    color: white; 
    border: 4px solid rgb(82, 71, 71);
    padding: 0.5em 1em;
    margin: 5px;
    transition-duration: 0.5s;
}
    
.createTask button:hover {
    background-color: white;
    color: black;
}
