.task{    
    display: flex;
    width: 90%;
    border: 1px solid black;
    background-color: rgb(149, 160, 156);
    align-items: center;
    padding: 1%;    
}

.task p {
    margin: 0;
    font-size: 25px;
    width: 70%;
}
.task button {
    background-color: rgb(82, 71, 71); 
    color: white; 
    border: 4px solid rgb(82, 71, 71);
    border-radius: 10px;
    font-size: 15px;
    padding: 5px 10px;
    transition-duration: 0.5s;
}
.check {    
    display: flex;
    align-items: center;  
}    
.task button:hover {
    background-color: white;
    color: black;
}
.done {
    text-decoration: line-through;
    opacity: 0.5;
}