.App {  
  display: grid;
  grid-template-areas: 
  "H H"
  "TL NT";  
  width: 80%;  
  margin: 10% 10%;         
}

.App-header {
  grid-area: H;  
  background-color: #282c34;  
  text-align: center;
  color: white;
  border: black 4px solid;
  border-radius: 25px 25px 0 0;  
}

.App-header h1 {
  margin: 0;
  padding: 20px;
}

.delete_done {
  text-align: center;
  font-size: 16px;
}

.taskList {
  grid-area: TL;
  background-color: rgb(108, 120, 143);
  border: black 4px solid;
  border-radius: 0 0 0 25px;
  justify-content: start;
  min-height: 50vh;  
}
.taskList h2 {
  text-align: center;
}

.newTask {
  grid-area: NT;
  background-color: cadetblue;
  border: black 4px solid;
  border-radius: 0 0 25px 0;  
  text-align: center;  
}

@media (max-width: 768px) {
  .App {
    font-size: 16px;
    display: flex;
    flex-direction: column;    
    width: 100vw;
    margin: 0;        
  }
  .App h1, h2 {
    font-size: 18px;
  }
  .taskList {
    border-radius: 0;    
  }
  .newTask {
    border-radius: 0 0 25px 25px;        
  }    
}